*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    background: url(../img/biblio.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header{
	width: 100%;
    background: rgb(255, 255, 255);
}

/*logo y texto */
.menu {
	width: 100%;
	height: 100px;
	max-width: 1300px;
	margin: auto;
	padding: .5em 0;  
	display : flex;
	justify-content: space-between.	
}

.contenido-menu .logo .logo-nombre img {
	width: 250px;
	margin-top: 15px;
}

.menu .contenido-menu .logo .btn-menu {
	display: none;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 30px;
}

/*menu de navegacion*/

.menu > .menu-navegacion{
	width: 900px;
	height: 35px;
	/*background: red;*/
	margin-top: 15px;
	margin-left: 450px;
}

.menu > .menu-navegacion > ul {
	float: right;
}

.menu-navegacion > li{
	display: inline-block;
}

.menu-navegacion > li > a {
	display: block;
	padding: 5px 10px;
	color: #000;
	font-family: "Calibri";
	font-size: 18px;
	text-decoration: none;	
}
.menu-navegacion li a:hover{
	color: rgb(25,92,130);
	transition: all .03s;
}

.logo-unedl img {
	width: 40px;
	height: 40px;
	float: right;
	margin-left: 8px;
}

.cinta {
	width: 100%;
	height: 20px;
	background: rgb(26,29,86);

}

.contenedor-form {
    background: rgba(255,255,255,255);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #000;
    position: relative;
    /*padding: 40px;*/
}

.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 11px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid rgb(26,29,86);
    border-bottom: 2px solid rgb(26,29,86);
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid rgb(25,92,130);
    border-bottom: 2px solid rgb(25,92,130);
}
.contenedor-form .toggle2:hover {
    border-top: 2px;
    border-bottom: 2px;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form .toggle .formulario p, h1{
	font-family: Calibri;
}
.contenedor-form .toggle .formulario h1, p{
	font-family: Calibri;
}

.contenedor-form .toggle2 .formulario p, h1{
	font-family: Calibri;
}
.contenedor-form .toggle2 .formulario h1, p{
	font-family: Calibri;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"],
.contenedor-form input[type="number"],
.contenedor-form input[type="datetime"],
.contenedor-form input[type="button"],
.contenedor-form input[type="tel"]{
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(255,255,255,255);
    color: #000000;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid rgb(25,92,130);
    box-sizing: border-box;
    font-family: "Calibri";
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus,
.contenedor-form input[type="number"]:focus,
.contenedor-form input[type="datetime"]:focus,
.contenedor-form input[type="button"]:focus,
.contenedor-form input[type="tel"] {
    border-bottom: 4px solid #1a1d56;
}

.contenedor-form input[type="submit"],
.contenedor-form input[type="button"] {
    background: rgb(25, 92, 130);
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 11px;
    font-weight: normal;
    font-family: Calibri;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}


.contenedor-form input[type="submit"]:hover,
.contenedor-form input[type="button"]:hover {
    background: #1C2652;
}

.contenedor-form .reset-password {
    background: rgb(26,29,86);
    color: white;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}
.contenedor-form .formulario2 {
    display: none;
    padding: 40px;
}


.logo{
	text-align: center;
}
.registroexitoso p, h3{
	font-family: Calibri;
	text-align: center;
	color:#000;
}



/*Submenu de libro*/
.submenu {
	position: absolute;
	background: linear-gradient(to right, #000, #000 );
	position: absolute;
	visibility: hidden;
	z-index: 11;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #FFFFFF;
	background: rgb(25,92,130);
	font-size: 15px;
	font-family: "Calibri";
	text-decoration: none;
}

.submenu li a:hover{
	color: rgb(0,0,0);
}

.menu-navegacion li:hover .submenu {
	visibility: visible;
}


.banner {
	position:relative;
	background: url('../img/estudiante.jpg');
	background-position: center;
	background-size: cover;
	width: 100%;
	max-width: 1200px;
	top: 52px;
	margin: auto;
	height: 400px;
	color: #FFFFFF;
}

.banner .bg-detalles {
	position:relative;
	width: 100%;
	height: 100%;
	color: #1C2652;
	text-align: center;
}

.banner .bg-detalles .detalles h1 {
	font-size: 40px;
	font-weight: normal;
	margin-bottom: 20px;
}

.banner .bg-detalles .detalles a {
	display: inline-block;
	text-decoration: none;
	color: #000;
	font-size: 20px;
	border: 2px solid #000;
	padding: 10px 25px;
	border-radius: 10px;
	transition: .3s;
}

.banner .bg-detalles .detalles a {
	background: rgba(174,13,54,.7);
}


.main
{
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.slides
{
	width: 100%;
}

.slidesjs-control {
	height: 160px;
}

.slides img 
{
	width: 100%;
}

.slidesjs-pagination 
{
	background: linear-gradient(to right, #000, #1c2652);
	list-style: none;
	overflow: hidden;
}

.slidesjs-pagination li 
{
	float: left;
}

.slidesjs-pagination li a 
{
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
}

.slidesjs-pagination li a:hover {
	background: #3A3EB2;
}

.slides .active {
	background: #3A3EB2;
}

.slidesjs-navigation {
	background: #1c2652;
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	float: right;
}


/* pie de pagina*/
.cinta2{
	width: 100%;
	height: 15px;
	background: rgb(25,92,130);
}

.footer {
	background: rgb(26,29,86);
	padding: 10px;
	height: 200px;
}

.footer .texto-footer {
	width: 400px;
	height: 50px;
	color: #EEEEEE;
}

.footer .face img {
	background: url("img/facebook-logo-de-letra.png"); 
	width: 40px;
	float: right;
	position: relative;
	margin-top: 30px;
}


/*Responsivo*/
@media screen and (max-width: 900px){
	
}
